.siteSearch form label {
	font-weight: bold;
	font-size: 1.5em;
	height: 39px;
	display: inline-block;
}

.siteSearch .search-row {
	line-height: 39px;
	vertical-align: middle;
	height: 39px;
}

.search-results-repeater > .template {
	visibility: hidden;
}

.search-result-description {
	font-size: .9em;
	font-style: italic;
}

.search-result-displayurl, .search-result-displayurl a, .search-result-displayurl a:hover, .search-result-displayurl a:focus, .search-result-displayurl a:visited {
	color: green;
}

.search-row {
	clear: both;
}

.search-row label {
	display: block;
}

.search-row input[type="text"], .search-row input[type="search"] {
	width: 100%;
	display: block;
}

section.demonstration label {
	clear: both;
	display: block;
	font-weight: bold;
	font-size: 1.2em;
}

div.search-results {
	clear: both;
}

li {
	margin-bottom: 1em;
}

.page-action-illustration {
	margin-bottom: 1em;
	border: 1px dashed black;
	padding: 0.5em;
	display: block;
}

button.install {
	padding: 10px;
	width: 200px;
	font-weight: bold;
	background-color: #003366;
	color: #FFFFE7;
	border-radius: 15px;
}

button.install:hover {
	background-color: #234F7B;
}

.displaynone {
	display: none;
}

#install-failed {
	color: #9E0000;
	font-style: italic;
}