.ntdsrmods-hidden {
	display:none !important;
}

#ntdsrmods-actions {
	float: right;
	margin-right: 15px;
	cursor: pointer;
	font-size: 1.2em;
}

.ntdsrmods-alert {
	display: block;
	width: 100%;
	padding: 5px 26px 5px 26px;
	background-color: #FFED90;
	border: 1px solid #B47B00;
	background-image: url('chrome-extension://__MSG_@@extension_id__/assets/img/icon-info-16.png');
	background-position: 4px 5px;
	background-repeat: no-repeat;
	width: 348px;
	margin-top: 10px;
}

.ntdsrmods-alert-link {
	font-weight: bold;
	font-size: 1.1em;
	margin-right: 15px;
}

.ntdsrmods-alert-heading {
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 5px;
}

.ntdsrmods-alert-message {
	font-size: 1.1em;
	margin-bottom: 5px;
}

a.spanReplacementLink, a.spanReplacementLink:visited, a.spanReplacementLink:link {
	color: #006;
	text-decoration: none;
}

a.spanReplacementLink:hover, a.spanReplacementLink:active, a.spanReplacementLink:focus {
	color: #CC3300;
	text-decoration: underline;
}