html {
	background-color: #fff;
}
body {
	font-family: Helvetica, Sans-Serif;
	font-size: 1em;
	padding: 20px;
	width: 500px;
}

#tabs {
	height: 284px;
	margin-bottom: 10px;
}

.link-info {
	background-image: url('../img/icon-info-16.png');
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: left; 
}

.logo {
	width: 179px;
	height: 76px;
	background-image: url('../img/niblet-sideways.png');
	margin-bottom: 1em;
}

.floatleft {
	float: left;
}

.page-action-illustration {
	margin-bottom: 1em;
	border: 1px dashed black;
	padding: 0.5em;
	display: block;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 0.5em;
	clear: both;
}

h6 {
	font-size: 1em;
}
h5 {
	font-size: 1.2em;
}
h4 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.8em;
}
h1 {
	font-size: 2em;
}

.form-row {
	margin-bottom: 0.5em;
	width: 100%;
	font-size: 11pt;
}

label.for-text {
	width: 150px;
	font-weight: bold;
	display: inline-block;
}

label.after-text {
	margin-left: 0.5em;
}

.hours, .minutes {
	width: 60px;
}

.time-friendly {
	width: 100px;
}

fieldset {
	border: 2px groove threedface;
	padding: .5em;
}

legend {
	font-weight: bold;
	padding: .25em;
}

#submit, #close {
	font-size: 1em;
	width: 70px;
	height: 30px;
}

#reset {
	font-size: 0.9em;
	float: right;
	color: red;
}
#reset:hover {
	text-decoration: underline;
	cursor: pointer;
}

.hidden {
	display: none !important;
}

.val-error {
	color: red;
	font-size: 0.7em;
}

.form-row-left-text .val-error {
	display: block;
	margin-left: 140px;
}

#val-msg-minuteWarning {
	display: block;
}

.val-valid {
	/*display: none;*/
}

.response {
	display: block;
	border: 1px solid;
	padding: 3px;
	color: black;
	margin-bottom: 1em;
	width: auto;
}

.response-error {
	border-color: red;
	background-color: #FF9494;
}

.response-success {
	border-color: blue;
	background-color: #C8C2FF;
}

p {
	margin-bottom: 0.5em;
}

form {
	margin-bottom: 1em;
}

.changelog ul {
	padding-left: 40px;
	padding-bottom: 15px;
}

.changelog li {
	margin-bottom: 10px;
}

.smalltext {
	font-size: 8.5pt;
}

body.notification {
	width: auto;
	padding: 5px;
	height: 144px;
	max-height: 144px;
	overflow-x: hidden;
	overflow-y: hidden;
	overflow: hidden;
	position: relative;
}

.notification h5 {
	padding: 0;
	margin: 0;
	font-size: 10pt;
	display: inline-block;
}

.pull-left {
	float: left;
}